.page-heading {
    letter-spacing: 4px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #121212;
    width: 100%;
    padding: 8px 0px 22px;
    display: block;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}
#cms #center_column .block-cms {
    padding-bottom: 20px;
}
#cms #center_column h1 {
    margin-bottom: 25px;
}
#cms #center_column h3 {
    font-size: 16px;
    border-bottom: none;
    margin: 0;
    padding: 0 0 17px 0; }
#cms #center_column p {
    line-height: 35px;
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    padding: 0px 20%;
    font-family:Raleway, sans-serif;	}
#cms #center_column .list-1{
    list-style-type:none;
    margin:50px 0px 50px;
    border-top:1px solid #ebebeb;
    padding-top:50px;
}
#cms #center_column .list-1 li {
    padding: 4px 0 6px 0;
    font-weight: normal;
    color: #121212;
    display:inline-block;
    font-size:18px;
    font-family:Raleway, sans-serif;
    border-top: 0px solid #d6d4d4; }
#cms #center_column .list-1 li:first-child {
    border: none; }
#cms #center_column .list-1 li:before {
    font-family:"FontAwesome";
    width:70px;
    height:70px;
    display:inline-block;
    border:1px solid #999;
    line-height:70px;
    font-size:32px;
    margin-left:35px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
}
#cms #center_column .list-1 li:nth-child(1):before {
    content:"\f006";
}
#cms #center_column .list-1 li:nth-child(2):before {
    content:"\f087";
}
#cms #center_column .list-1 li:nth-child(3):before {
    content:"\f0d6";
}
#cms #center_column .list-1 li em {
    font-size: 20px;
    line-height: 20px;
    padding-right: 15px;
    vertical-align: -2px; }
#cms #center_column img {
    margin: 4px 0 17px;
    max-width: 100%;
    *width:100%;
    height: auto; }
#cms #center_column .testimonials {
    /* border: 1px solid;
     border-color: #ddd;*/
    margin: 4px 0 13px 0;
    border-radius:5px;
    width:60%;
    left:50%;
    margin-left:-30%;
    text-transform: uppercase;
    position: relative; }

#cms #center_column .testimonials .inner {
    border: 1px solid #fff;
    padding: 24px 24px 24px 24px;
    background: /*#fbfbfb*/ #fff;
    font-size:50px;
    line-height:56px;
    font-family:Montserrat, sans-serif;
    color:#121212;
    *font-style:italic;
}
#cms #center_column .testimonials .inner span {
    text-indent: -5000px;
    display: inline-block;
    width: 20px;
    height: 15px; }
#cms #center_column .testimonials .inner span.before {
    background: url(../image/bl-before-bg.png) no-repeat;
    margin-right: 8px; }
#cms #center_column .testimonials .inner span.after {
    background: url(../image/bl-after-bg.png) no-repeat;
    margin-left: 8px; }
#cms #center_column .testimonials:after {
    content: ".";
    display: block;
    text-indent: -5000px;
    position: absolute;
    bottom: -16px;
    left: 21px;
    width: 15px;
    height: 16px;
    display:none;
    background: url(../image/testimon-after.gif) no-repeat; }
#cms #center_column .testimonials + p {
    padding-left: 45px;
    margin-bottom: 18px;
    width:95%;
    text-align:right;
    font-family:Georgia;
    font-weight: normal;
    font-size:18px;
    font-style: italic;
    display:inline-block;	}
#cms #center_column p.bottom-indent {
    margin-bottom: 18px; }
#cms #center_column #admin-action-cms {
    background: none repeat 0 0 #F6F6F6;
    border: 1px solid #d2d0d0;
    padding: 10px; }
#cms #center_column #admin-action-cms p {
    margin: 0; }
#cms #center_column #admin-action-cms p span {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333; }
#cms #center_column #admin-action-cms p .button {
    font: 700 17px/21px Arial, Helvetica, sans-serif;
    padding: 0;
    border: 1px solid;
    padding: 10px 14px;
    display: inline-block; }
#cms #center_column #admin-action-cms p .button.publish_button {
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #0079b6 #006fa8 #012740 #006fa8;
    background: #009ad0;
    background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
    background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
    background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
    background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
#cms #center_column #admin-action-cms p .button.publish_button:hover {
    border-color: #01314e #004b74 #0079b6 #004b74;
    filter: none;
    background: #0084bf; }
#cms #center_column #admin-action-cms p .button.lnk_view {
    color: #333;
    text-shadow: 1px 1px white;
    border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
#cms #center_column #admin-action-cms p .button.lnk_view:hover {
    border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
    filter: none;
    background: #e7e7e7; }

/*# sourceMappingURL=cms.css.map */

#cms.cms-about-us .columns-container{
    padding:0px;
}
.cms-about-us #center_column .col-sm-4:nth-child(2){
    background-size:cover;
    background-attachment:fixed;
    border-bottom:1px solid #ebebeb;
}
.cms-about-us #center_column .col-sm-4:nth-child(2) .cms-block{
    z-index:12;
    position:absolute;
    /*color:#fff;*/
}
.cms-about-us #center_column .col-sm-4:nth-child(2) img{
    display: none;
}
.cms-about-us #center_column .col-sm-4:nth-child(2) .cms-block h3,
.cms-about-us #center_column .col-sm-4:nth-child(2) .cms-block .dark{
    color:#fff;
}

.cms-about-us #center_column .col-sm-4:nth-child(3) .cms-box {
    text-align:center;
}
.cms-about-us #center_column .col-sm-4:nth-child(3) .cms-box .dark {
    font-size:18px !important;
    font-weight:normal !important;
}
/*.cms-about-overlay{
	width:100%;
	height:100%;
	display:block;
	background:rgba(243,174,179 ,0.3);
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}*/

.testimonials-ul li{
    min-height:250px;
    max-height:450px;
    overflow:hidden;
}
/*.owl-testimonials .owl-wrapper{
	width:100% !important;
}
.owl-testimonials .owl-item{
	width:700px;
}*/
.cms-box .bx-wrapper .bx-pager.bx-default-pager{
    bottom:-20px;
}
.cms-box .bx-wrapper .bx-pager.bx-default-pager a{
    background: #ccc;
}
.cms-box .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #121212;
}

/*About Us*/
.cms-about-us #center_column .col-sm-4{
    width:100%;
    text-align: center;
    min-height:500px;
    padding-top:40px;
    font-family:"Open Sans", sans-serif;
}

.cms-about-us #center_column h3{
    font-size:16px !important;
    color:#000;
    letter-spacing: 4px !important;
    font-family: "Montserrat", sans-serif;
}
.cms-about-us #center_column .col-sm-4:nth-child(1) .dark{
    font-size: 50px;
    line-height: 56px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin:25px 0px;
    display: inline-block;
    color:#121212;
    font-weight:400;
}

.nav-wrapper .col-sm-4{
    width:70px;
    display:inline-block;
}

@media (max-width:1199px){
    .cms-about-us #center_column .col-sm-4:nth-child(2){
        background-size:100%;
        background-attachment: inherit;
        background-repeat:no-repeat;
    }
    .cms-about-us #center_column .col-sm-4{
        min-height:370px;
        padding-top:80px;
    }
    #cms #center_column .testimonials {
        width: 100%;
        margin-left: 0;
        left:0;
    }
    #cms #center_column .testimonials .inner {
        font-size: 30px;
        line-height: 36px;
        padding:0px;
    }
    #cms #center_column .list-1 li{
        margin-left:25px;
    }
    #cms #center_column .list-1 li:before{
        text-align:center;
        width:60px;
        height:60px;
        line-height:60px;
        margin-left:0px;
    }
    .cms-about-us #center_column .col-sm-4:nth-child(1) .dark{
        font-size:30px;
        line-height:36px;
    }
    #cms #center_column p{
        padding:0px 25px;
    }
    .testimonials-ul li{
        padding:0px 40px;
    }
}
@media (max-width:992px){
    #cms #center_column .list-1 li{
        text-align:center;
        width:32%;
        margin-left:0px;
    }
    #cms #center_column .list-1 li em{
        width:100%;
    }
}
@media (max-width:480px){
    #cms #center_column .list-1 li{
        width:100%;
        text-align:left;
        font-size:14px;
    }
    .cms-about-us #center_column .col-sm-4{
        min-height:230px;
    }
    #cms #center_column .list-1 li em{
        width:auto;
    }
}
#location_details p {
    font-size: 16px !important;
    float: left;
    text-align: left !important;
    padding-right: 0px !important;
}
#location_details p a{
    text-decoration: none;
    color: #333 !important;
}
#location_details p a:hover{
    color: #333 !important;
}
#parallax-image{
    background-repeat: no-repeat;
}