/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 14px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  /*****************************************************************************
  						BXSlider Styles
  ********************************************************************************/ }
  @media (max-width: 767px) {
    #homepage-slider {
      width: 100%;
      max-width: 100%;
      padding-top: 0px; } }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
  #homepage-slider .homeslider-container {
    position: relative; 
    overflow: hidden;
    background: #000;}
  #homepage-slider .homeslider-image {
    position: absolute;
    left: 0;
    top: 0; 
}
	#homepage-slider .homeslider-container img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0) scale(1.3);
	-moz-transform: translate3d(-40px,0, 0) scale(1.3);
	-o-transform: translate3d(-40px,0, 0) scale(1.3);
	transform: translate3d(-40px,0,0) scale(1.3);
	opacity:0.7;
	}
	#homepage-slider .homeslider-container:hover img {
	-webkit-transform: translate3d(0,0,0) scale(1.3);
	-moz-transform: translate3d(0,0,0) scale(1.3);
	-o-transform: translate3d(0,0,0) scale(1.3);
	transform: translate3d(0,0,0) scale(1.3);
	opacity:0.8;
	}


  #homepage-slider .homeslider-description {
    position: absolute;
    left: 0;
    top: 22%;
    padding: 50px 20px;
	width:100%;
	text-align:center;
    cursor: pointer; }
    #homepage-slider .homeslider-description h2 {
      font-size: 2.9em;
      text-transform: none;
      letter-spacing: -1px;
	  font-family:"Montserrat", sans-serif;
      color: white;
      margin: 0;
      padding: 0; }
    #homepage-slider .homeslider-description p {
      width: 100%;
	   font-family:"Raleway", sans-serif;
	   font-weight:300;
	   text-transform:none;
      font-size: 1.15em;
	  font-size:16px;
      line-height: 1.3em;
      padding: 0.5em 0;
      color: white; }
    #homepage-slider .homeslider-description button {
      font-size: 0.9em;
      text-transform: uppercase;
      background: transparent; 
      border:2px solid #fff;
      padding:15px 27px;
      letter-spacing: 5px;
      margin-top:30px;
      font-family: Montserrat, sans-serif; 
      outline: none !important;
      color:#fff;}
      #homepage-slider .homeslider-description button:hover {
	      background: #fff;
	      color:#121212;
      }
    @media (max-width: 1200px) {
      #homepage-slider .homeslider-description {
        padding: 20px;
        font-size: 0.8em; } }
    @media (max-width: 768px) {
      #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.7em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.5em; } }
    @media (max-width: 480px) {
	   #homepage-slider .homeslider-description h2 {
		font-size: 4.7em;     
		     }
      #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.5em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.7em; } }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    height: auto; }
  #homepage-slider .bx-wrapper .bx-viewport {
    width: 100%;
    direction: ltr !important; }
   #homepage-slider .bx-wrapper .bx-pager{
	  min-height:100px;
	  bottom:50%;
	  right:10px;
	  text-align:right;
	  font-size:0px;
	  width:10px;
	  *display:none;
	 }
  #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255,255,255, 0.4);
	width:15px;
	height:30px;
	margin-bottom:0px;
	border-radius:0px!important;
	display:block;}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
	  background:rgba(0,0,0, 0.4);
	  }
#homepage-slider .bx-wrapper .bx-controls-direction a {
    top: auto;
    margin-top: 0px;
    font-size: 1em;
    bottom: 0px;
    outline: 0;
    width: 58px;
    height: 58px;
    text-indent: -9999px;
    z-index: 9999;
    border: 0px solid #fff;
	background:rgba(0,0,0, 0.1);
    line-height: 18px; }
	#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next{
		right:0px;
	}
    #homepage-slider .bx-wrapper .bx-controls-direction a:before {
      height: 58px;
      width: 58px;
      display: block;
      background: none;
      content: ".";
      /*opacity: 0.14;*/
      text-indent: -9999px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    #homepage-slider .bx-wrapper .bx-controls-direction a:after {
      display: block;
      width: 58px;
      height: 58px;
      color: #fff;
      text-indent: 0;
      text-align: center;
      font-size: 21px;
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
	  line-height:58px;
      /*padding: 16px 0 0 0; */}
    #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
      background:#1d1d1d; }
#homepage-slider .bx-wrapper .bx-prev {
    right: 58px;
    left: auto; 
}
#homepage-slider .bx-wrapper .bx-prev:after {
      content: "\2190";
}
#homepage-slider .bx-wrapper .bx-next:after {
content: "\2192"; 
}

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #333; }

@media (max-width:480px){
	#homepage-slider .bx-wrapper .bx-pager{
		display:none;
	}	
	#homepage-slider .bx-controls-direction{
		display:none;
	}
}
/*# sourceMappingURL=homeslider.css.map */

.hot-slider{
	position: absolute;
	margin-top: -41px;
	left:0;
}
	.hot-slider span{
		background: /*#e64b65*/ #b89955;
		padding: 4px 7px 4px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}