.body-overlay{
    position: fixed;
    width:0;
    height:0;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.7);
    -webkit-transition: opacity 500ms ease-out/*, width 100ms 500ms, height 100ms 500ms*/;
    -moz-transition: opacity 500ms ease-out/*, width 100ms 500ms, height 100ms 500ms*/;
    -o-transition: opacity 500ms ease-out/*, width 100ms 500ms, height 100ms 500ms*/;
    transition: opacity 500ms ease-out/*, width 100ms 500ms, height 100ms 500ms*/;
}
.overlayed{
    opacity:1;
    width:100%;
    height:100%;
}
.header-container {
    background: #fff;
}

.navbar-fixed-top {
    z-index: 1030;
    top: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

header {
    z-index: 1;
    position: relative;
    background: #fff;
    min-height: 60px;
    padding-bottom: 0px;
}

#header {
    z-index: 5003;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
    -webkit-transition: top 300ms ease-out;
    -moz-transition: top 300ms ease-out;
    -o-transition: top 300ms ease-out;
    transition: top 300ms ease-out;
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}

a {
    color: #777;
    text-decoration: none;
}

header .row #header_logo {
    padding-top: 0px;
    min-height: 60px;
    text-align: center;
}

header .row #header_logo a {
    line-height: 57px;
}

header .row #header_logo img {
    margin: 0px auto;
    display: inline-block;
    max-height: 50px;
    width: auto;
}

.social_networks {
    display: inline-block;
    padding: 0 20px;
    width: 100%;
    height: 28px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-top: 21px;
    cursor: pointer;
}

.social_networks span {
    float: right;
    font-size: 12px;
    font-weight: 500;
}
.social_networks span a:hover{
   text-decoration: none;
}
.bars {
    display: inline-block;
    padding: 0 20px;
    width: 58px;
    height: 28px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-top: 21px;
    cursor: pointer;
}

.bars .bar {
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #1a1a1a;
    -webkit-transition: 375ms;
    -moz-transition: 375ms;
    -o-transition: 375ms;
    transition: 375ms;
    -webkit-transition-property: top, opacity;
    -moz-transition-property: top, opacity;
    -o-transition-property: top, opacity;
    transition-property: top, opacity;
}

.bars .bar:nth-child(1) {
    top: 6px;
    opacity: 1;
    -webkit-transition-delay: 125ms;
    -moz-transition-delay: 125ms;
    -o-transition-delay: 125ms;
    transition-delay: 125ms;
}

.bars .bar:nth-child(2) {
    top: 6px;
    -webkit-transition-delay: 40ms;
    -moz-transition-delay: 40ms;
    -o-transition-delay: 40ms;
    transition-delay: 40ms;
}

.bars .bar:nth-child(3) {
    top: 12px;
    -webkit-transition-delay: 80ms;
    -moz-transition-delay: 80ms;
    -o-transition-delay: 80ms;
    transition-delay: 80ms;
}
.bars-open .bar:nth-child(1) {
    top: 12px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg) scaleX(1.442);
    -moz-transform: rotate(45deg) scaleX(1.442);
    -o-transform: rotate(45deg) scaleX(1.442);
    transform: rotate(45deg) scaleX(1.442);
    opacity: 1;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-transition-property: top, -webkit-transform;
    -moz-transition-property: top, -moz-transform;
    -o-transition-property: top, -o-transform;
    transition-property: top, transform;
}
.bars-open .bar:nth-child(2) {
    top: 12px;
    opacity: 0;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
}
.bars-open .bar:nth-child(3) {
    top: 12px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg) scaleX(1.442);
    -moz-transform: rotate(-45deg) scaleX(1.442);
    -o-transform: rotate(-45deg) scaleX(1.442);
    transform: rotate(-45deg) scaleX(1.442);
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-transition-property: top, -webkit-transform;
    -moz-transition-property: top, -moz-transform;
    -o-transition-property: top, -o-transform;
    transition-property: top, transform;
}
.bars-open .bar:nth-child(4) {
    top: 12px;
    opacity: 0;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
}
.columns-container {
    margin-top: 60px;
    background: #fff;
    padding: 0px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

#columns {
    position: relative;
    padding: 0px !important;
}
#top_column, #slider_row {
    margin: 0px;
    padding: 0px;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#home-page-tabs {
    border: none; 
    float:none;
    text-align:center;
    padding-left:9px;
    background: none; 
}
@media (min-width: 769px) {
    #home-page-tabs {
        padding: 30px 0;
        margin: 9px 0 9px 0px; 
    }
}
#home-page-tabs > li {   float:none; 
    margin-bottom: 0; display:inline-block; 
}
@media (min-width: 991px) {
      #home-page-tabs > li {
        border-left: 1px solid #ebebeb;
		margin:0px 0px;
        padding: 0 0px 0 0px;
      }
}
@media (max-width: 479px) {
  #home-page-tabs > li {
    width: 100%;
  }
}
#home-page-tabs > li a {
    font: 300 13px/13px "Montserrat", sans-serif;
    letter-spacing:2px;
    color: #121212;
    text-transform:uppercase;
    border:0;	  
    outline: none;
    margin: 0;
    padding: 0px; 
}
#home-page-tabs > li a:after {
    content:"\ ";
    display:inline-block;
    width:0;
    height:1px;
    background:/*#f9544c;*/ #000;
    margin-top:5px;
    position:absolute;
    top:2px;
    left:0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}  
#home-page-tabs > li a:hover:after,
#home-page-tabs > li.active a:after  {
    width:100%;
}
@media (min-width: 768px) {
    #home-page-tabs > li a {
        padding: 1px 10px;
        margin:0px 10px;
    } 
}
#home-page-tabs > li:first-child {
  border: none; 
}
#home-page-tabs > li.active a,
#home-page-tabs > li a:hover {
background: none;
color: #000;
padding: 0px; 
}
@media (min-width: 768px) {
    #home-page-tabs > li.active a,
    #home-page-tabs > li a:hover {
        margin: 0px 0; 
        padding: 1px 10px;
        margin:0px 10px;	
    } 
}
@media (max-width:768px){
    #home-page-tabs > li a {
        display:inline-block;
        margin:35px 20px 35px;
    }
    #index ul.product_list.tab-pane > li{
        padding-bottom:0px;
    }
    #home-page-tabs > li a:hover:after,
    #home-page-tabs > li.active a:after  {
        color:#121212;
    }
 }  
@media (min-width: 320px) and (max-width: 480px) {
    #home-page-tabs > li a {
        padding: 0px 0px; 
        margin: 15px 20px 25px !important;
    } 
}

#index .grid-banner{
	padding-bottom:0px;
}
#center_column{
    margin: 0!important;
    padding: 0 !important;
}
.tab-content ul{
    padding-left: 0 !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
}
.product-slider li{
    position: relative;
    overflow: hidden;
    height: 320px;
    padding: 0px !important;
    margin-top: 0px !important;
    line-height: 0 !important;
}

.grid-banner{
    text-align: center;
    color:#fff;
    padding:0px;
    margin: 0 !important;
    overflow:hidden;
    float:left;
    border-top:1px solid #ebebeb;
}
.grid-banner img{
    width:100%;
    height:auto;
    z-index: 0;
    -webkit-transition:0.5s ease-out;
}

.grid-banner_text{
    font-family:Montserrat, sans-serif;
    position:absolute;
    width:100%;
    text-align: center;
    bottom:45px;
    color:#121212;
    z-index: 1;
}
.grid-banner_text span{
    font-size:10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.grid-banner_text h2{
    font-size:38px;
    letter-spacing:5px;
    color:#121212;
    text-transform: uppercase;
    font-weight: 700;
    margin-top:7px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.products .img-container{
    border: 0px solid #d6d4d4;
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
@media (max-width: 767px) {
    ul.product-slider > .products .img-container {
        /*max-width: 290px;*/
        max-width:100%;
        margin-left: auto;
        margin-right: auto;
    }
}
ul.product-slider > li.hovered .img-container img {
    margin: 0 auto;
    width:100%;
}
.products .img-container img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    -o-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
    margin: 0 auto;
    width: 100%;
}

.hover-box{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 320px;
    opacity:0;
    line-height: 1.42857143 !important;
    background:rgba(255,255,255, 0.95);
    -webkit-transition:0.7s ease-out;
    -moz-transition:0.7s ease-out;
    -o-transition:0.7s ease-out;
    transition:0.7s ease-out;
}
@media (min-width: 921px) {
    .product-slider li{
        height: auto;
    }
    .hover-box{
        height: 100%;
    }
}
.hover-box .tour-text{
    position:absolute;
    width:100%;
    text-align:center;
    margin-bottom: 70px;
    bottom: 0;
    -webkit-transition:0.3s ease-out;
    -moz-transition:0.3s ease-out;
    -o-transition:0.3s ease-out;
    transition:0.3s ease-out;
}

.hover-box .tour-text a{
    display: block;
    margin-bottom: 10px;
}
.tour-name{
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #121212;
    font-size: 14px;
    font-weight: 700;
}
.view-more{
    display: inline-block;
    overflow: hidden;
    text-align: center;
    padding: 7px 15px;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    border: 2px solid #000000;
}
.view-more:hover{
    background: #000000;
    color: #FFFFFF;
}
.products:hover > .hover-box{
    opacity:1;
}
.products:hover > .hover-box .tour-text{
    position:absolute;
    width:100%;
    text-align:center;
    margin-bottom: 127px;
    -webkit-transition:0.7s ease-out;
    -moz-transition:0.7s ease-out;
    -o-transition:0.7s ease-out;
    transition:0.7s ease-out;
}
.products:hover > .hover-box .tour-text a{
    text-decoration: none;
    color: #000;
}
.products:hover img{
    height: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: -1;
}
.all-tours{
    background-color:#f6f6f6;
    width: 100%;
    height: 65px;
    text-align: center;
    font-family: Raleway, sans-serif;
    line-height: 20px;
    padding: 0px;
    font-weight: bold;
    border-top: 1px solid #ebebeb;
    color: #ffffff;
    letter-spacing: 2px;
}
.all-tours a{
    text-decoration: none;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 15px;
}
.all-tours a:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}


.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #ffffff;;
    height: auto;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer-links{
    text-align: center;
    padding: 10px;
}
.footer-links li{
    display: inline-block;
    padding: 10px;
    border-left: 1px solid #ebebeb;
}
.footer-links li:first-child {
    border: none;
}
.footer-links li a{
    text-align: center;
    font: 300 13px/13px "Montserrat", sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    color: #121212;
    text-transform: uppercase;
    border: 0;
    outline: none;
}
.footer-links li:hover{
    text-decoration: line-through;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    text-align: center;
}

.footer-bottom .payment{
    text-align: center;
}
.footer-bottom .payment li{
    display: inline-block;
    padding: 1px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 18px;
    list-style: none;
    background-color: #f6f6f6;
    border-radius: 0px;
}
.breadcrumb {
    display: inline-block;
    padding: 0 0px 0px 0px;
    font-weight: normal;
    font-size: 11px;
    line-height: 26px;
    min-height: 6px;
    background: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    /* position: absolute; */
    z-index: 1;
    float: left;
}
.breadcrumb a {
    display: inline-block;
    background: none;
    position: relative;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    color: #000;
    text-transform: uppercase;
}
.breadcrumb a.home {
    font-size: 10px;
    font-weight: normal;
    color: #000;
    width: 38px;
    text-align: center;
    padding: 0;
    margin: 0 10px 0 -10px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 99;
    line-height: 22px;
    display: none;
    height: 25px;
    float: left;
}
.back-to-category{
    text-decoration: none;
}
.breadcrumb a:after {
    display: inline-block;
    font-family: "FontAwesome";
    content: /*"\f105"*/ "\/";
    font-size: 18px;
    color: #ccc;
    margin: 0px 10px;
}
.breadcrumb .navigation-pipe {
    display: none;
}
span.navigation_page {
    float: left;
}
.socialsharing_product a{
    font-size: 22px;
    padding: 3px;
}
.socialsharing_product a:hover,.socialsharing_product a:active{
    font-size: 22px !important;
    text-decoration: none !important;
}
.btn-facebook i {
    color: #435f9f;
}
.btn-twitter i {
    color: #00aaf0;
}
.btn-google-plus i {
    color: #e04b34;
}
.btn-pinterest i {
    color: #ce1f21;
}
.btn-instagram i {
    color: #e95950;
}
#contact_form_id{
    padding: 15px;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}
footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}
label.error{
    color: red;
    margin-top: 35px;
}
#message-error{
    margin-top: 224px !important;
}
#send_inquiry{
    margin-top: 20px;
    text-align: left !important;
}
.btn-primary{
    background-color: #f58635 !important;
    border-color: #f58635 !important;
}
.btn-primary:hover{
    color: #f58635 !important;
    background-color: #FFFFFF !important;
    border-color: #f58635 !important;
}
#recaptcha-button,#booking_recaptcha{
    margin-top:10px;
}
.payment li{
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    padding-top: 5px !important;
    font-size: 16px;
}