#block_top_menu {
    padding-top: 0px;
    position:relative;
    float:left;
    overflow: hidden;
}
/*** ESSENTIAL STYLES ***/
.sf-contener {
    clear: both;
    float: left;
    width: 100%; }

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }

.sf-menu {
    position: fixed;
    padding: 0;
    width:290px;
    left:0px;
    height:100%;
    padding-top:31px;
    display:none;
    background: #fff;
    margin-top:0px;
    overflow:scroll;
    padding-bottom:90px;
    border-top:1px solid #ebebeb;
    border-right:1px solid #ebebeb;
    /*-webkit-transition:0.4s ease-out;
    transition:0.4s ease-out;
    -moz-transition:0.4s ease-out;  */}
.sf-menu::-webkit-scrollbar{
    width: 0px!important;
}
.menu-visible{
    margin-left:0px;
}

@media (max-width: 767px) {
    .sf-menu {
        display: none; } }

.sf-menu ul {
    position: absolute;
    top: -999em;
    background: #fff; }
@media (max-width: 767px) {
    .sf-menu ul {
        position: relative; } }

.sf-menu ul li {
    width: 100%; }

.sf-menu li:hover {
    visibility: inherit;
    /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
    float: left;
    text-align:center;
    width:290px;
}
@media (max-width: 767px) {
    .sf-menu > li {
        float: none !important;
        position: relative;
        border-right: none; }
    .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 20px;
        width: 30px;
        height: 30px;
        z-index: 2; }
    .sf-menu > li span:after {
        font-family: "FontAwesome";
        content: "\f067";
        font-size: 26px;
        display:none;}
    .sf-menu > li span.active:after {
        content: "\f068"; } }
.sf-menu > li > a {
    font: 400 13px/18px "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing:1px;
    color: #000;
    display: inline-block;
    position:relative;
    padding: 17px 10px;
    text-decoration:none !important;
    outline:none;
}

.sf-menu > li > a:after {
    content:"\ ";
    display:inline-block;
    width:0;
    height:1px;
    background:/*#f9544c;*/ #000;
    margin-top:5px;
    position:absolute;
    top:20px;
    left:0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sf-menu > li > a:hover:after,
.sf-menu > li.sfHoverForce > a:after  {
    width:100%;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
    color: #000; }

.sf-menu li li li a {
    display: inline-block;
    position: relative;
    color: #777777;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    padding-bottom: 10px; }
.sf-menu li li li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 10px; }
.sf-menu li li li a:hover {
    color: #333; }

.sf-menu li ul {
    display: none !important;
    left: 0;
    top: 59px;
    /* match top ul list item height */
    z-index: 99;
    padding: 12px 0px 18px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px; }
@media (max-width: 767px) {
    .sf-menu li ul {
        top: 0; } }

.sf-menu li li ul {
    position: static;
    display: block !important;
    opacity: 1 !important;
    background: none;
    -moz-box-shadow: transparent 0px 0px 0px;
    -webkit-box-shadow: transparent 0px 0px 0px;
    box-shadow: transparent 0px 0px 0px; }

.sf-menu li li li ul {
    padding: 0 0 0 20px; }

.sf-menu li li li ul {
    width: 220px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left: 200px;
    /* match ul width */
    top: 0; }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left: 200px;
    /* match ul width */
    top: 0; }

.sf-menu > li > ul {
    padding: 26px 30px 31px;
    width: 100%; }
.sf-menu > li > ul > li > a {
    text-transform: uppercase;
    font: 600 16px/20px "Open Sans", sans-serif;
    color: #333; }
.sf-menu > li > ul > li > a:hover {
    color: #515151; }

.sf-menu > li > ul > li {
    float: left;
    width: 20%;
    padding-right: 15px; }
@media (max-width: 767px) {
    .sf-menu > li > ul > li {
        width: 50%; } }
@media (max-width: 479px) {
    .sf-menu > li > ul > li {
        width: 100%;
        padding-bottom: 20px; } }
@media (min-width: 768px) {
    .sf-menu > li > ul > li.first-in-line-lg {
        clear: left; } }
@media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
        clear: left; } }

.sf-menu > li > ul > li.category-thumbnail {
    width: 100% !important;
    float: none;
    clear: both;
    overflow: hidden;
    padding-right: 0; }
.sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    padding-left: 10px;
    width: 33.333%; }
@media (max-width: 479px) {
    .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center; } }
.sf-menu > li > ul > li.category-thumbnail > div:first-child {
    padding-left: 0; }
.sf-menu > li > ul > li.category-thumbnail > div img {
    max-width: 100%;
    display: block; }

.cat-title {
    display: none !important; }
@media (max-width: 767px) {
    .cat-title {
        display: block;
        font: 600 18px/22px "Open Sans", sans-serif;
        text-transform: uppercase;
        color: #484848;
        display: block;
        padding: 17px 20px;
        border-bottom: 3px solid #e9e9e9;
        background: #f6f6f6;
        position: relative; }
    .cat-title:hover {
        background: #333;
        border-bottom-color: #666666;
        color: #fff; }
    .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 26px; }
    .cat-title.active:after {
        content: "\f068"; } }

@media (min-width:767px){
    .sf-menu li.sf-search {
        display:none;
    }
}
.sf-menu li.sf-search {
    border: none;
}
.sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    margin: 13px 0px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    width:80%;
    font-family:"Open Sans", sans-serif;
    border: 1px solid #ebebeb; }
.sf-menu li.sf-search button{
    border:0px;
    background:transparent;
    position:absolute;
    margin-top:25px;
    right:50px;
}


#block_top_menu .category-thumbnail {
    clear: both;
    width: 100%;
    float: none; }
#block_top_menu .category-thumbnail div {
    float: left;
    width: 33.33333%; }
#block_top_menu .category-thumbnail div img {
    max-width: 100%; }
#block_top_menu li.category-thumbnail {
    padding-right: 0; }

/*# sourceMappingURL=superfish-modified.css.map */
@media (max-width: 480px) {
    .sf-menu,
    .sf-menu li	{
        width:320px;
    }
}


.menu-label-hot{
    position: absolute;
    background: #b89955;
    color: #fff;
    padding: 2px 7px 0px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:15px;
    margin-left: 3px;
    width: auto !important;
    height:auto !important;
    right:auto !important;
    top:auto !important;
    display: none;
}

.menu-label-new{
    position: absolute;
    background: #11a8ab;
    color: #fff;
    padding: 2px 7px 0px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:15px;
    margin-left: 3px;
    top:auto !important;
    width: auto !important;
    height:auto !important;
    right:auto !important;
    display: none;
}