/* product desc */
/* primary_block ***************************************************************************** */

#images_list_frame_custom{
    padding: 0 !important;
}

.socialsharing_product button {
    margin-bottom: 3px;
}
.primary_block {
    margin-bottom: 0px; }

.top-hr {
    background: #C4C4C4;
    height: 5px;
    margin: 2px 0 31px; }

.product-heading-h5 {
    color: #999999;
    font-weight: 200;
    margin: 3px 0 8px;
    font-size: 19px;
    font-family: "Open Sans", sans-serif; }

.box-security .product-heading-h5 {
    margin: 3px 0 -8px; }
@media (max-width: 1199px) {
    .box-security .product-heading-h5 {
        margin-bottom: 8px; } }

.primary_block .pb-left-column img {
    max-width: 100%;
    height: auto;
}
/*.primary_block .pb-left-column  #images_list img{
  border-left:1px solid #ebebeb;
} */

a.fancybox-nav {
    outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column {
    background:#fff;
    margin-right:0px;
    padding-right:0px;
    padding-left: 0px;
}
.pb-left-column #image-block {
    position: relative;
    display: block;
    cursor: pointer;
}

.pb-left-column #image-block img {
    background: #fbfbfb;
    width: 100%; }
.pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -68px;
    display: none;
    padding: 10px 0;
    text-align: center;
    line-height: 22px;
    color: #777676;
    width: 136px;
    text-align: center;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); }
.pb-left-column #image-block #view_full_size .span_link:after {
    font-family: "FontAwesome";
    color: #c0c0c0;
    font-size: 20px;
    line-height: 22px;
    content: "\f00e";
    font-weight: normal;
    margin: 0 0 0 4px; }
.pb-left-column #image-block #view_full_size .span_link:hover:after {
    color: #333; }
.pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
.pb-left-column #image-block .zoomPad {
    z-index: auto !important; }
.pb-left-column #image-block .new-box,
.pb-left-column #image-block .sale-box {
    z-index: 5002; }

/* miniatures */
.pb-left-column #views_block {
    margin-top: 1px; }


#thumbs_list {
    overflow: hidden;
    float: left;
    margin-top:-2px;
    width: 100%; }

#thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    position:absolute;
    bottom:11px;
    z-index:10000;
    display:none;
}
#thumbs_list li {
    float: left;
    height: 90px;
    width: 90px;
    cursor: pointer;
    margin-right: 0px;
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
#thumbs_list li a {
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fbfbfb; }
#thumbs_list li a:hover, #thumbs_list li a.shown {
    border-color: #dbdbdb; }
#thumbs_list li img {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }


span.view_scroll_spacer {
    float: left;
    width: 39px;
    padding-left: 12px;
    position: absolute;
    margin-top: 50px;}
@media (min-width: 768px) and (max-width: 991px) {
    span.view_scroll_spacer {
        padding-left: 6px;
        width: 28px; } }

#view_scroll_left,
#view_scroll_right {
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    width:85px;
    height:90px;
    display:none !important;
    text-align:center;
    background:rgba(0,0,0, 0.2);
    text-decoration:none;
    overflow: hidden; }
@media (min-width: 768px) and (max-width: 991px) {
    #view_scroll_left,
    #view_scroll_right {
        margin-top: 28px; } }
#view_scroll_left:before,
#view_scroll_right:before {
    padding-left: 2px;
    color: #c0c0c0;
    width:85px;
    height:90px;

    font-family: "FontAwesome";
    font-size: 26px;
    line-height: 90px; }
#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
    color: #fff; }

#view_scroll_right {
    float: right;
    right:0px;
    margin-top:0px;
    position:absolute;
}
#view_scroll_right:before {
    content: "â†’";
    color:#fff;	}

#view_scroll_left {
    left:0;
    top:0px;
    margin-top:-50px;
    position:absolute;}
#view_scroll_left:before {
    content: "â†";
    padding-right: 2px;
    color:#fff;	}

.resetimg {
    padding: 10px 0 0; }
.resetimg #resetImages i {
    margin-right: 6px; }

.view_scroll_spacer {
    margin-top: 38px; }
@media (min-width: 768px) and (max-width: 991px) {
    .view_scroll_spacer {
        margin-top: 28px; } }

/* link list */
#usefull_link_block {
    list-style-type: none;
    display:none;  }
#usefull_link_block li {
    margin: 0 0 8px 0; }
@media (min-width: 768px) and (max-width: 991px) {
    #usefull_link_block li {
        float: none !important; } }
#usefull_link_block li:first-child {
    margin: 0 0 8px 0;
    border: none;
    padding: 0; }
#usefull_link_block li a {
    color: #777676;
    font-weight: 400;
    position: relative;
    font-family:"Raleway", sans-serif;
    padding-left: 30px;
    line-height: 22px;
    display: inline-block;
    margin-left:10px;	  }
#usefull_link_block li a:before {
    font-family: "FontAwesome";
    color: #b69d64;
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    top: -2px;
    left: 0;
    font-weight: normal; }
#usefull_link_block li a:hover {
    color: #000; }
@media (min-width: 768px) and (max-width: 991px) {
    #usefull_link_block li.print {
        margin: 8px 0 0;
        padding: 0;
        border: none; } }
#usefull_link_block li.print a:before {
    content: "\f02f"; }
#usefull_link_block li.sendtofriend a:before {
    content: "\f003"; }
#usefull_link_block li#left_share_fb {
    clear: both;
    float: none; }
#usefull_link_block li#left_share_fb a {
    padding-left: 18px; }
#usefull_link_block li#left_share_fb a:before {
    content: "\f09a"; }
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
    cursor: pointer;
    font-weight: 700;
    clear: both;
    float: none;
    margin: 0 0 8px 0;
    border: none;
    padding: 0;
    position: relative; }
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
    font-family: "FontAwesome";
    color: #333;
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    top: -2px;
    left: 0;
    font-weight: normal;
    content: "\f08a"; }
#usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
    color: #000; }
#usefull_link_block li#favoriteproducts_block_extra_removed:before {
    content: "\f004"; }

/* pb-left-column ****************************************************************************** */
#product .pb-right-column{
    padding-left:35px;
}
.right-col-wrapper{
    border-left:1px solid #ebebeb;
    margin-left:-1px;
    padding-left:35px;
}
.pb-center-column {
    /*margin-bottom: 30px;*/
    background:#fff;
    padding:50px 60px 0px 35px;
    font-family:"Montserrat", sans-serif;
    /* font-weight:500;*/
    /* form */ }
.pb-center-column .pull-right{
    display:none;
}
.pb-center-column h1 {
    padding-bottom: 30px;
    font-size: 26px;
    color: #3a3939;
    margin-left:0px;
    font-family:"Montserrat", sans-serif;
    text-transform:uppercase;
    margin-top:20px;}
.pb-center-column p {
    margin-bottom: 10px; }
.pb-center-column #product_reference {
    margin-bottom: 6px; }
.pb-center-column #short_description_block {
    color: #666; }
.pb-center-column #short_description_block .buttons_bottom_block {
    display: none; }
.pb-center-column #short_description_block #short_description_content {
    padding: 0 0 15px;
    word-wrap: break-word; }
.pb-center-column #short_description_block #short_description_content p {
    line-height: 24px;
    font-family:"Raleway", sans-serif;
    font-size:15px;
    color:#121212;
    padding: 0px 19px 0px 0px;
}
.pb-center-column #buy_block {
    margin-top: 10px; }
.pb-center-column #buy_block label {
    display: inline-block;
    /*width: 125px;*/
    font-weight: 400;
    font-family:"Raleway", sans-serif;
    font-size: 12px;
    text-align: right; }
.pb-center-column #buy_block p.price {
    padding: 0; }
.pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }

#product p#loyalty {
    padding: 17px 0 15px 35px;
    border-top: 1px solid #d6d4d4;
    border-bottom: 1px solid #d6d4d4;
    margin: 10px 0 -5px;
    position: relative; }
#product p#loyalty b {
    color: #333; }
#product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
    padding: 0 20px 20px;
    word-wrap: break-word; }
#page .rte p {
    margin-bottom: 1em;
    min-height: 1px;
    color:#121212;
    font-family:"Raleway", sans-serif;
    font-size:16px;
    line-height:28px;	}

#attributes fieldset {
    padding-bottom: 13px; }
#attributes fieldset label {
    vertical-align: top;
    font-family:"Raleway", sans-serif;
    font-weight:400;
    font-size:13px;
    display: block; }
#attributes .attribute_list {
    width: 100%; }
#attributes .attribute_list .form-control {
    max-width: 230px; }
#attributes .attribute_list .form-control option {
    background: #fff;
    color: #666; }
#attributes .attribute_list ul {
    clear: both; }
#attributes .attribute_list ul li {
    float: left;
    margin-right: 10px; }
#attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
#attributes .attribute_list #color_to_pick_list {
    list-style-type: none; }
#attributes .attribute_list #color_to_pick_list li {
    float: left;
    margin: 0 3px 3px 0;
    padding: 1px;
    border: 1px solid #d6d4d4;
    clear: none;
    width: 26px;
    height: 26px;
    border-radius:100%;	  }
#attributes .attribute_list #color_to_pick_list li a.color_pick {
    display: block;
    height: 22px;
    width: 22px;
    border-radius:100%;
    cursor: pointer; }
#attributes .attribute_list #color_to_pick_list li a.color_pick img {
    display: block;
    height: 22px;
    width: 22px;
    border-radius:100%;		  }
#attributes .attribute_list #color_to_pick_list li.selected {
    border: 1px solid #4d4d4d; }

.product_attributes,
.box-cart-bottom {
    padding: 12px 19px 17px 0px; }

.box-cart-bottom {
    padding: 0; }

#short_description_content a,
.page-product-box .rte a {
    color: #333333;
    text-decoration: underline; }
#short_description_content a.btn,
.page-product-box .rte a.btn {
    text-decoration: none; }

.box-info-product {
    background: none; }
.box-info-product p {
    margin-bottom: 7px;
    margin-left: 7px;
}
.box-info-product .exclusive {
    padding: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    display: block;
    background:#fff;
    border:2px solid #121212;	}
.box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: #121212;
    font-size: 18px;
    line-height: 47px;
    content: "\f07a";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: 0px solid #b69d64;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 0 0 5px; }
@media (max-width: 991px) {
    .box-info-product .exclusive:before {
        display: none; } }
.box-info-product .exclusive.added:before {
    content: "\f00c"; }
.box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
    height: 51px;
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none; }
.box-info-product .exclusive:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2; }
@media (max-width: 991px) {
    .box-info-product .exclusive:after {
        display: none; } }
.box-info-product .exclusive span {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-weight: 700;
    font-size: 14px;
    text-transform:uppercase;
    line-height: 22px;
    padding: 12px 36px 14px 60px;
    /*padding: 17px 36px 17px 60px;*/
    color: #121212;
    background:#fff;
    display: block !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.box-info-product .exclusive:hover {
    background:#121212;
    color:#fff;}
.box-info-product .exclusive:hover:before {
    color:#fff;
}
.box-info-product .exclusive:hover span {
    background:#121212;
    color:#fff;
}

#center_column.col-sm-9 .col-md-3 .box-info-product {
    background: #f6f6f6;
    border: 1px solid #d2d0d0;
    border-top: 1px solid #b0afaf;
    border-bottom: 1px solid #b0afaf; }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 25px;
    line-height: 47px;
    text-shadow: 0 1px #015883;
    content: "\f07a";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
@media (max-width: 991px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
        display: none; } }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
    content: "\f00c"; }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none; }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2; }
@media (max-width: 991px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
        display: none; } }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-top: 1px solid #006fa8;
    text-shadow: 0 1px #015883;
    padding: 12px 16px 14px;
    color: #fff;
    display: block !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
@media (max-width: 1199px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
        font-size: 16px; } }
@media (max-width: 991px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
        padding: 8px 12px 10px;
        text-align: center; } }
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
    background-image: -moz-linear-gradient(#007ab7, #009ad0);
    background-image: -webkit-linear-gradient(#007ab7, #009ad0);
    background-image: linear-gradient(#007ab7, #009ad0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
    background-position: 0 0; }

/* table_data_sheet */
.table-data-sheet {
    border-bottom: 1px solid #ebebeb;
    font-family:"Montserrat", sans-serif;
    width: 100%;
    margin: 0 0 20px;
    background: none; }
.table-data-sheet tr {
    border-top: 1px solid #ebebeb; }
.table-data-sheet tr.even {
    background: transparent; }
.table-data-sheet tr td {
    padding: 10px 20px 11px;
    color:#121212;
    font-family: "Raleway",sans-serif;
    font-size:16px;
}
.table-data-sheet tr td:first-child {
    border-right: 1px solid #ebebeb;
    width: 30%;
    font-weight: 600;
    color:#121212; }

/* table product-discounts */
table.table-product-discounts {
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    width: 50%;
    margin: 0 0 20px;
    background: none; }
@media (max-width: 767px) {
    table.table-product-discounts {
        width: 100%; } }
table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
table.table-product-discounts tr td,
table.table-product-discounts tr th {
    border-left: 1px solid #d6d4d4;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #d6d4d4;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
    display: none; }
.accessories-block {
    padding:0px 15px;
}
.accessories-block .exclusive{
    display:none;
}
.accessories-block .exclusive span {
    font-size: 13px;
    line-height: 18px;
    padding: 2px 8px 3px;
    text-decoration: none; }
.accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }
.accessories-block .product-name {
    margin-bottom: 5px; }
.accessories-block .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
.accessories-block .product-name a:hover {
    color: #515151; }
.accessories-block div ul li a {
    display: inline-block; }
.accessories-block div ul li.s_title_block a,
.accessories-block div ul li.s_title_block span {
    font-weight: 700; }
.accessories-block .bx-wrapper .bx-controls-direction a.bx-next:before{
    content: " \f105";
    font-family: "FontAwesome";
    color: #b89955;
}
.accessories-block .bx-wrapper .bx-controls-direction a.bx-prev:before{
    content: " \f104";
    font-family: "FontAwesome";
    color: #b89955;
}

/* quantity_wanted */

#quantity_wanted_p input {
    width: 49px;
    height: 49px;
    padding: 0;
    text-align:center;
    color:#585877;
    font-size:16px;
    float: left;
    border: 1px solid #e6e6e6!important;
    background:#e6e6e6;
    line-height: 27px; }
#quantity_wanted_p .btn {
    float: left;
    line-height:39px;
    height:49px;
    width:49px;
    text-align:center;
    margin-left: 0px;
    border:0px;
    background:#f2f2f2;
}
#quantity_wanted_p .btn span{background:none!important; border:0px; width:100%; font-size:20px;}

#quantity_wanted_p label {
    display: block;
    margin-bottom: 0px; }

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
    display: inline-block;
    width: 125px;
    font-weight: 700;
    font-size: 12px;
    text-align: right; }

#quantityAvailable {
    color: #333;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700; }

#availability_value,
#last_quantities {
    color: #a3a3a3;
    color:#7d7d7d;
    font-family:"Raleway", sans-serif;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    padding: 3px 8px 4px;
    margin-left: 5px; }

#last_quantities {
    background: #fe9126;
    border: 1px solid #e4752b;
    padding: 4px 8px 3px;
    position: relative;
    top: 1px;
    margin-left: 0px; }

#availability_statut,
#pQuantityAvailable {
    /*display: inline-block;*/
    display:none!important;}

#pQuantityAvailable span {
    font-weight: 400;
    color: #333; }

/* box-security */
.box-security {
    border-top: 1px solid #dfdede;
    padding: 19px 19px 6px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
    background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
    background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
    background-image: linear-gradient(#ffffff, #fbfbfb);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 ); }

/* prices */
.content_prices {
    padding: 0px 19px 0px 0px;
    /*  border-top:1px solid #ebebeb;
      border-bottom:1px solid #ebebeb; */
    margin-bottom:30px;
    line-height: /*55px*/ 5px;}

.discount {
    display: none; }

.our_price_display {
    font-weight: 600;
    font-size: 29px;
    font-family: "Montserrat", sans-serif;
    padding:0px 15px 0px 0px;
    margin-bottom:0px !important;
    color: #1d1d1d;
    display:inline-block; }
@media (max-width: 991px) {
    .our_price_display {
        font-size: 26px;
        line-height: 28px; } }
.our_price_display .price {
    font-weight: 600;
    font-size: 29px;
    line-height: 32px;
    color: #333; }


#old_price {
    padding-bottom: 0px;
    font-size: 17px;
    text-decoration: line-through;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    line-height: 23px; }

#reduction_percent,
#reduction_amount {
    margin-right: 10px;
    padding: 1px 2px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    line-height: 23px;
    color: #fff;
    background: /*#f13340*/ #f44444;
    border: 0px solid #d02a2c;
    display:none!important;}
#reduction_percent span,
#reduction_amount span {
    display: none; }
.hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
#reduction_amount {
    display: inline-block; }

/* online_only */
.pb-center-column p.online_only {
    font-weight: 700;
    font-size: 13px;
    color: #f13340;
    text-align: left; }

.buttons_bottom_block {
    clear: both;
    padding: 0px 19px 0 0px;
    margin-bottom:20px;}
.buttons_bottom_block #wishlist_button {
    font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
    width: 555px;
    overflow: hidden; }
@media (max-width: 767px) {
    #send_friend_form {
        width: 280px; } }
#send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #d6d4d4; }
#send_friend_form .product p {
    padding: 0;
    color: #333; }
#send_friend_form .product p .product_name {
    font-size: 12px;
    color: #000; }
#send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #d6d4d4;
    background: #fbfbfb; }
#send_friend_form .form_container p.intro_form {
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 13px;
    color: #333; }
#send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
    color: #666; }
#send_friend_form .form_container .text {
    padding-bottom: 10px; }
#send_friend_form .form_container .text label {
    display: block;
    padding: 0;
    width: 100%;
    font-size: 12px; }
#send_friend_form .form_container .text input {
    padding: 0 5px;
    height: 22px;
    width: 100%;
    border: 1px solid base-border-color;
    font-size: 12px;
    color: #666; }
#send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
    margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
    list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d4d4; }

.customizationUploadLine {
    padding-bottom: 10px; }
.customizationUploadLine label {
    display: block;
    vertical-align: top; }
.customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #d6d4d4;
    color: #777777; }

.customizationUploadBrowse img + a {
    position: relative;
    top: -51px; }

#customizedDatas {
    float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
    margin-bottom: 0;
}

#product.content_only  .pb-left-column #views_block{
    padding-left:15px;
}
#product.content_only div.primary_block  .more_details,
#product.content_only div.primary_block  .back-to-category{
    display:none;
}
.fancybox-skin{
    border-radius:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
}
@media (max-width: 991px) {
    #product.content_only div.primary_block {
        margin-right: 0; } }
#product.content_only div.primary_block div.pb-left-column {
    padding: 0px;
    background:#fff;
    margin-top:-1px;
}
@media (max-width: 479px) {
    #product.content_only div.primary_block div.pb-left-column {
        width: 100%;
        float: none; } }
#product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer {
    width: 38px;
    padding-left: 10px; }
#product.content_only div.primary_block div.pb-left-column #thumbs_list {
    width: 392px; }
#product.content_only div.primary_block div.pb-center-column {
    padding: 40px 40px 0px 10px;
    width: 100%;
    margin-bottom: 0;
    height: 100%; }
@media (max-width: 991px) {
    #product.content_only div.primary_block div.pb-center-column {
        min-height: 440px; } }
@media (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none; } }
#product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
    padding-right: 0; }
@media (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block; }
    #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none; } }
#product.content_only div.primary_block div.pb-center-column #ShareDiv {
    position: absolute;
    bottom: 8px; }
#product.content_only div.primary_block div.pb-right-column {
    width: 100%;
    padding-right: 15px;
    padding-left: 0; }
#product.content_only div.primary_block div.pb-right-column .box-info-product {
    border-top-width: 0px;
    border-right: none;
    border-bottom: none;
    height: 100%;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
    position: relative;
    padding-bottom: 50px; }
@media (max-width: 991px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 1px solid #d6d4d4; } }
#add_to_cart{
    margin-bottom:20px;
}
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
    display: block;
    width: auto;
}
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
    display: block; }
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
    font-size: 20px;
    text-align: center; }
@media (max-width: 1199px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
        padding: 12px 22px 14px 60px;
        font-family:Raleway, sans-serif;
        font-size: 18px; } }
#product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
    right: 0;
    left: 0; }
#product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
    width: 230px; }
#product.content_only div.primary_block div.pb-right-column .product_attributes,
#product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
    -moz-box-shadow: transparent 0px 0px 0px;
    -webkit-box-shadow: transparent 0px 0px 0px;
    box-shadow: transparent 0px 0px 0px; }
#product.content_only div.primary_block div.pb-right-column .product_attributes {
    padding-top: 0; }

.addsharethisinner .stButton .stArrow {
    display: none !important; }

@media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block,
    #product.content_only section.primary_block {
        margin-left: 0; } }
@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-left-column,
    #product.content_only section.primary_block div.pb-left-column {
        width: 100%;
        padding-right: 15px; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
        max-width: 470px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
        width: 90px;
        height: 90px; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
        width: 82px;
        height: 82px; }
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
        width: 50%;
        float: left;
        padding-left: 35px; } }
@media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
        width: 100%;
        float: none;
        padding-left: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
        width: 50%;
        float: left; } }
@media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
        margin-top: 10px;
        width: 100%;
        float: none;
        padding-left: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
        border-top-width: 1px;
        min-height: 1px; } }
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
    background: #fff;
    border: 1px solid #d6d4d4; }
.ie8 .box-security {
    filter: none; }

/**SOCIAL Sharing**/
.social-sharing{
    margin:0px 5px;
    background:none;
}
.social-sharing:hover{
    background:none;
}
.social-sharing i{
    color:#b89955;
}
.social-sharing:hover i{
    color:#1d1d1d;
}
.social-show{
    font-family:"Raleway", sans-serif;
    /*color:#b89955;*/
    padding:5px 0px 15px;
    cursor:pointer;
    margin-left:0px;
    font-weight:600;
    color:#121212;}
.social-show span:before{
    content:"\f1e0";
    margin-right:10px;
    font-family:"FontAwesome";
    font-size:18px;
    color:#b89955;
    text-decoration: none !important;
}
.social-show:hover{
    text-decoration: none;
}
.social-show:hover:before{
    color:#b89955;
    text-decoration: none !important;
}
.socialsharing_product button{
    font-size:0px;
    border:0px;
    padding-left:0px;
}
.socialsharing_product button i{
    font-size:24px;
}
.socialsharing_product {
    display:none;
    margin-top:10px;
}
.page-product-box-outer-wrapper{
    height:100%;
    overflow:hidden;
    position:fixed;
    background:rgba(255,255,255, 1);
    left:-100%;
    top:61px;
    width:68%;
    z-index:10000;
    border-right: 1px solid #ebebeb;
    border-top:1px solid #ebebeb;
}
.page-product-box-wrapper{
    padding: 50px 50px 100px 40px;
    height:100%;
    overflow:scroll;
    margin-left:17px;
}
/*	.page-product-box-wrapper::-webkit-scrollbar {
    width: 0px!important;
}*/
.more_details{
    font-family:"Raleway", sans-serif;
    font-weight:600;
    cursor:pointer;
    padding:0px 0px 7px 0px;
    color:#121212;
}
.more_details:hover{
    color:#333;
}
.more_details:before{
    content:"\f065";
    font-family:"FontAwesome";
    margin-right:11px;
    color:#b89955;
}
.close-product-box{
    background:url('../image/close-cross.png') no-repeat;
    background-size: cover;
    display:block;
    width:25px;
    height:25px;
    cursor:pointer;
    -webkit-transition:0.4s ease-out;
    -moz-transition:0.4s ease-out;
    -o-transition:0.4s ease-out;
    transition:0.4s ease-out;
}
.close-product-box:hover{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}
.close-product-box-wrapper{
    background:#121212;
    padding:10px;
    position:absolute;
    z-index:10;
    right:-1px;
    top:-1px;
}

.label-danger{border:0px; color:#fff!important;}
#quantity_wanted_p{
    margin-bottom:10px;
    margin-top:5px;
}


/*MOBILE STYLE*/
@media (max-width: 1024px) {
    .pb-center-column {
        background:#fff;
        padding:50px 0px 0px 0px;
        font-family:"Montserrat", sans-serif;
        border-top:1px solid #ebebeb;
    }
    .box-info-product, .box-info-product p{
        text-align:center;
    }
    .box-info-product .exclusive {
        display:inline-block;
    }
    #quantity_wanted_p .btn {
        margin-top:0px;
    }
    .box-info-product, .box-info-product p{
        width:100%;
    }
    .pb-center-column{
        background:#fff;
        padding-top:15px;
        text-align:center;
    }
    .content_prices {
        text-align: center;
        margin:0px 40px 30px;
    }
    .our_price_display .price{
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        font-family: "Montserrat", sans-serif;
        color: #1d1d1d;
    }
    .our_price_display{
        padding: 15px 0px;
    }
    .pb-center-column h1{
        text-align:center;
    }

    #product>#page>.columns-container>#columns>.row>#center_column{
        padding:0px 0px;
    }
    .box-info-product .exclusive span{
        padding:14px 36px 14px 36px;
    }
    .social-show{
        text-align:center;
        margin-left:0px;
    }
    #quantity_wanted_p{
        width:auto;
        display: inline-block;
        margin-bottom:10px;
    }
    .attribute_fieldset{
        margin-top:15px;
    }
    .attribute_list{
        text-align:center;
    }
    .attribute_list>.selector, #color_to_pick_list{
        display:inline-block;
    }
    .page-product-box-wrapper{
        padding: 0px;
        overflow:auto;
        width:100%;
    }
    .page-product-box-wrapper::-webkit-scrollbar {
        width: 0px;
    }

    .breadcrumb{
        float:none;
        text-align: center;
    }
    span.navigation_page{
        float:none;
    }
    .product_attributes,
    .box-cart-bottom {
        padding: 12px 0px 17px 0px; }
    }
    .buttons_bottom_block{
        padding:0px;
    }
    #attributes .attribute_list .form-control{
        display:inline-block;
    }
    .socialsharing_product{
        display:none ;
    }




/*# sourceMappingURL=product.css.map */
.info-wrapper{
    position:relative;
    padding:25px;
    border:1px solid #ebebeb;
}
.info-wrapper .tab-pane{
    display:none;
}
.info-wrapper .tab-pane.active{
    display:block!important;
}
#product .nav-tabs{
    border-bottom:0px;
}
#product .nav-tabs > li {
    padding:0px;
}
#product .nav-tabs > li > a{
    color:#121212;
    text-transform:uppercase;
    font:400 14px/20px "Montserrat", sans-serif;
    padding:16px 25px;
    border:1px solid #ebebeb;
    background: transparent;
    margin-left:-1px;
    letter-spacing:2px;
}
#product .nav-tabs > li.active > a,
#product .nav-tabs > li:hover > a{
    color:#fff;
    background:#121212;
    border:1px solid #121212;
}

/*Product Image Slider*/
#images_list_frame .owl-buttons{
    position:absolute;
    bottom:0;
    right:0px;
}
#images_list_frame .owl-buttons div{
    font-size:0px;
    background:rgba(255,255,255, 0.9);
    margin:0px;
    padding:0px;
    width:65px;
    height:65px;
    line-height:65px;
    border-radius:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius:0px;
}
#images_list_frame .owl-buttons .owl-prev:before{
    content:"\f104";
    font-family:"FontAwesome";
    font-size:20px !important;
    color:#333;
}
#images_list_frame .owl-buttons .owl-next:before{
    content:"\f105";
    font-family:"FontAwesome";
    font-size:20px !important;
    color:#333;
}

#images_list_frame .owl-pagination{
    position: absolute;
    bottom: 17px;
    right: 150px;
}
#images_list_frame .owl-pagination span{
    background:#fff;
}

.back-to-category{
    font-family: "Raleway", sans-serif;
    color:#000;
    cursor:pointer;
    display:block;
    margin-bottom:20px;
}
.back-to-category i{
    padding-right:7px;
    color:#b89955;
}
.back-to-category:hover{
    color:#b89955;
}

#productscategory_list .bx-wrapper .bx-wrapper .bx-controls.bx-has-controls-direction{
    display:none;
}
#productscategory_list .bx-wrapper .bx-controls-direction a.bx-next:before{
    content:" \f105";
    font-family: "FontAwesome";
    color:#b89955;
}
#productscategory_list .bx-wrapper .bx-controls-direction a.bx-prev:before{
    content:" \f104";
    font-family: "FontAwesome";
    color:#b89955;
}


.pb-left-column #views_block{
    position:relative;
    margin-left:104.5px;
    border-right:1px solid #ebebeb;
}
.bx-pager_builder__wrapper{
    position:absolute;
    top:0;
    margin-left:-104.5px;
    width:104.5px;
    height:100%;
    overflow:hidden;
}
#bx-pager_builder{
    overflow-y:scroll;
    height:100%;
    margin-right:-17px;
}
#bx-pager_builder a{
    background:#ccc;
}
#bx-pager_builder a img{
    width:104.5px;
    /*	border-bottom:1px solid #ebebeb; */
}
#bx-pager_builder a.active img{
    opacity:0.65;
}
#images_list .bx-wrapper .bx-controls-direction a{
    bottom:10px;
    text-align: center;
    top:inherit;
    z-index:10000;
    width:40px;
    height:40px;
    background:rgba(255, 255, 255, 0);
    display:none;
}
#images_list .bx-wrapper .bx-controls-direction a:hover{
    background:rgba(255, 255, 255, 0);
    color:#121212;
}
#images_list .bx-wrapper .bx-controls-direction a.bx-prev{
    left:inherit;
    right:50px;
}
#images_list .bx-wrapper .bx-controls-direction a.bx-next{
    right:10px;
}
#images_list .bx-wrapper .bx-controls-direction a.bx-prev:before{
    font-family: "FontAwesome";
    content:"\f104";
    line-height: 40px;
    color:#fff;
}
#images_list .bx-wrapper .bx-controls-direction a.bx-next:before{
    font-family: "FontAwesome";
    content:"\f105";
    line-height: 40px;
    color:#fff;
}

#product .footer-container #footer .bottom-footer div{
    border-top:1px solid #ebebeb;
    padding-top:15px;
}
.book-btn{
    padding: 5px;
    margin-left: 13px;
}
.social-show{
    padding: 5px;
    margin-left: 13px;
}
@media (max-width: 1024px){
    .back-to-category{
        *border-bottom:1px solid #ebebeb;
        padding:5px 0px 20px 0px;;
    }
    .primary_block .pb-left-column {
        padding:0px 0px 0px 0px;
    }
    .page-product-box-outer-wrapper{
        width:100%;
        padding-bottom:80px;
    }
}
@media (max-width:767px){
    .back-to-category{
        border-bottom:1px solid #ebebeb;
    }
    .book-btn{
        padding: 0px;
        margin-left: 0px;
    }
    .social-show{
        padding: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 480px) {
    #product .pb-right-column{
        padding-left:0px;
    }
    .pb-center-column{
        padding-left:0px;
        padding-right:0px;
    }
    .pb-center-column h1{
        padding-bottom:10px;
    }
    .book-btn{
        padding: 0px;
        margin-left: 0px;
    }
    .pb-center-column #short_description_block{
        padding:0px 30px;
    }
    #product .nav-tabs > li {
        width:80%;
        display:block;
        float:none;
        margin-left:20px;
    }
    #product .nav-tabs > li > a{
        padding:10px 5px;
        display:block;
    }
    .pb-left-column{
        background:#fff;
    }
    .bx-pager_builder__wrapper{
        position: relative;
        width: 480px;
        overflow-x: scroll;
        margin-left: 0px;

    }
    #bx-pager_builder {
        margin:0px !important;
    }
    #bx-pager_builder a{
        display:inline-block;
        float:left;
    }
    .pb-left-column #views_block{
        margin-left:0px;
    }
    .social-show{
        padding: 0px;
        margin-left: 0px;
    }
}
#center_column{
    overflow: hidden !important;
}
.col3{
    width: 32%;
    display: inline-block;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}

input, textarea{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0 !important;
    outline: none !important;
    padding: 8px 0px 4px 0px !important;
    width: 100% !important;
    font-size: 1.5rem !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
textarea {
    height: 220px !important;
    width: 97% !important;
}
.col3 input{
    padding: 6px 0px !important;
}
label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    cursor: text;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

label.active{
    top:10px;
    display: block;
    color:#f58635;
    -webkit-transform:translateY(-8px) scale(0.9);
    transform:translateY(-8px) scale(0.9);
    -webkit-transform-origin:0 0;
    dtransform-origin:0 0

}


